# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/.idea.CATemplate.iml
/modules.xml
/contentModel.xml
/projectSettingsUpdater.xml
# Datasource local storage ignored files
/../../../../../../../:\Projects\NetCore\CATemplate\.idea\.idea.CATemplate\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
